<section class="hero-section">
		<div class="hero-slider owl-carousel">
	<div class="hs-item set-bg" data-setbg="{{asset('img/kkk.jpg')}}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>E-MISS CONGO</span>
							<h2>MISS CONGO 2020 </h2>
							<p>Plusqu'un simple concours de beauté, nous recherchons une femme de reves .MissRdCongo , la beauté qui changes le monde. Qui sera la MOSEKA 2020 ?. </p>
							 
							 
						</div>
					</div>
					<div class="offer-card text-white">
						<span>VOTE</span>
						<h2>$</h2>
						<p>TA MISS </p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="{{asset('img/mod.jpg')}}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>E- MISS CONGO</span>
							<h2>MISS CONGO 2020</h2>
							<p>Plusqu'un simple concours de beauté, nous recherchons une femme de reves .MissRdCongo , la beauté qui changes le monde. Qui sera la MOSEKA 2020 ?. </p>
							
							
						</div>
					</div>
					<div class="offer-card text-white">
						<span>2020</span>
						<h3>VOTE MISS</h3>
						<p></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->



	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{{asset('img/icons/1.png')}}" alt="#">
						</div>
						<h2>Fast Secure Payments</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{{asset('img/icons/2.png')}}" alt="#">
						</div>
						<h2>CONGO BEAUTY</h2>
					</div>

				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{{asset('img/icons/vt.png')}}" alt="#">
						</div>
						<h2>TRUE VOTE</h2>
					</div>
				</div>
			</div>
		</div>
	</section>