{% extends 'base.html.twig' %}

{% block title %}Votant index{% endblock %}

{% block body %}
    <h1>Votant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Motdepass</th>
                <th>PhotoName</th>
                <th>Category</th>
                <th>Sexe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for votant in votants %}
            <tr>
                <td>{{ votant.id }}</td>
                <td>{{ votant.nom }}</td>
                <td>{{ votant.prenom }}</td>
                <td>{{ votant.email }}</td>
                <td>{{ votant.adresse }}</td>
                <td>{{ votant.telephone }}</td>
                <td>{{ votant.motdepass }}</td>
                <td>{{ votant.photoName }}</td>
                <td>{{ votant.category }}</td>
                <td>{{ votant.sexe }}</td>
                <td>
                    <a href="{{ path('votant_show', {'id': votant.id}) }}">show</a>
                    <a href="{{ path('votant_edit', {'id': votant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('votant_new') }}">Create new</a>
{% endblock %}
