{% extends 'base.html.twig' %}

{% block title %}Admin-Candidat{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="lead text-center">Gerer Les Candidat</h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Postnom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
             {% for candidat in candidats %}
            <tr>
                 <td>{{candidat.id }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.postnom }}</td>
                <td class="admin-action"><a href="{{ path('admin_candidat_edit',{'id': candidat.id}) }}"
                        class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('candidat_delete', {'id': candidat.id}) }}" onsubmit="return confirm('Est-vous sur de supprimer?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidat.id) }}">
                        <button class="btn">Delete</button>
                    </form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('admin_candidat_new') }}" class="btn btn-primary">Créer un nouveau Candidat</a>
    </div>

</div>
   
{% endblock %}
