{% extends 'base.html.twig' %}

{% block title %}Candidat index{% endblock %}

{% block body %}
    <h1>Candidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Postnom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Origine</th>
                <th>Telephone</th>
                <th>PhotoName</th>
                <th>Motdepasse</th>
                <th>Sexe</th>
                <th>DateNaissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.postnom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{{ candidat.adresse }}</td>
                <td>{{ candidat.email }}</td>
                <td>{{ candidat.origine }}</td>
                <td>{{ candidat.telephone }}</td>
                <td>{{ candidat.photoName }}</td>
                <td>{{ candidat.motdepasse }}</td>
                <td>{{ candidat.sexe }}</td>
                <td>{{ candidat.dateNaissance ? candidat.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('candidat_show', {'id': candidat.id}) }}">show</a>
                    <a href="{{ path('candidat_edit', {'id': candidat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidat_new') }}">Create new</a>
{% endblock %}
