{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}

    <div class="container my-5">
    <div class="row">     
    <div class="col-md-8">
      <h2 class="text-center my-2">VISUALISATION DES VOTES</h2> 
     
        <table class="table table-responsive-md table-bordered">
          <thead class="table-dark">
              <th>Nom du Votant</th>
              <th>Cote </th>
              <th> Montant</th>
              <th>Date Vote</th>
            </thead>
        <tbody>
        {% for cote in candidat.cotes %}
          
        
            <tr>
                
                <td>{{ cote.votant.prenom}} {{ cote.votant.nom}}</td>
                 <td>{{ cote.getcoteVotant()}}</td>
                  <td>{{ cote.montantpaye}}</td>
                   <td> Le {{ cote.datevote|date('d/m/Y à H:i:s')}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table> 
    
            </div>
            <div class="col-md-4">
            <h1 class="text-center lead">{{ candidat.nom }} {{ candidat.postnom }}-{{ candidat.prenom }}</h1>
              <div class="card mb-4 shadow-sm">
                <div class="product-item">
                  <div class="pi-pic">
                    {% if candidat.photoName %}
                      <img src="{{ vich_uploader_asset(candidat,'imageFile')}}" 
                        style="width: 100%; height: auto;" class="blink_pub">
                      {% else %}

                      <img src="{{ asset('img/candidats/default.jpg')}}" alt="pas d'image" 
                        style="width: 100%; height: auto;" class="blink_pub">
                      {% endif %}
                    <div class="pi-links">
                      <a href="{{path('candidat_countVote',{'id':candidat.id})}}" class="add-card"><i class="flaticon-bag"></i><span>{{candidat.cotes|length}} VOTES</span></a> 
                      <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> <br>
                                   
                                      <a class="btn btn-sm btn-outline-secondary" href="{{path('votant_vote',{'id':candidat.id})}}">Voter</a>
                          
                                  </div>
                  </div>
                  <div class="pi-text">
                    
                    <p>{{candidat.nom}} </p>
                  </div>
                </div>
              </div>
              
                
                </div>
              </div>
            </div>
        
            </div>
        </div>
    </div>
{% endblock %}
